.logo {
    max-width:150px;
    margin-left: 7.5%;
}
@media (max-width: 768px) {
    .logo {
        max-width: 100px;
    }
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* for uploading files drag and drop */
.uploadFiles {
    position: relative;
    border: 3px dashed whitesmoke;
    text-align: center;
    margin: 0;
    width: 100%;
    height: 250px;
    overflow: hidden;
}

    .uploadFiles input {
        width: 100% !important;
        height: 200px;
        border: none;
        padding: 0;
        background: transparent;
        text-align: center;
        display:none;
    }

    .uploadFiles:after {
        pointer-events: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 70px;
        right: 0;
        height: 70px;
        content: "";
        background-image: url(https://image.flaticon.com/icons/svg/130/130993.svg);
        display: block;
        margin: 0 auto;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .uploadFiles:before {
        content: "Browse or Drag file here";
        position: absolute;
        bottom: 55px;
        left: 0;
        right: 0;
        display: block;
        text-align: center;
        color: cadetblue;
        font-weight: bold;
    }
/* for uploading files drag and drop */



.intro {
    position: relative;
}

@media (min-width: 992px) {
    .intro .intro-img {
        width: 75%;
        float: right;
    }

    .intro .intro-text {
        left: 0;
        width: 60%;
        margin-top: 3rem;
        position: absolute;
    }

        .intro .intro-text .intro-button {
            width: 100%;
            left: 0;
            position: absolute;
            bottom: -2rem;
        }
}

@media (min-width: 1200px) {
    .intro .intro-text {
        width: 35%;
    }
    .intro-text {
        margin-left: 10%;
    }
}
.contact-icons {
    max-height: 1.5rem;
}
.header >img, .header div {
    display: inline-block;
}
.section-heading {
    text-transform: uppercase;
}

    .section-heading .section-heading-upper {
        display: block;
        font-size: 1rem;
        font-weight: 800;
    }

    .section-heading .section-heading-lower {
        display: block;
        font-size: 3rem;
        font-weight: 100;
    }

.bg-faded {
    background-color: rgba(255, 255, 255, 0.85);
}

body {
    font-family: 'Lora';
    /*background: linear-gradient(cadetblue, rgba(47, 23, 15, 0.65)), url("../img/bg.jpg");*/
    /*background-attachment: fixed;
    background-position: center;
    background-size: cover;*/
}

.carousel-item {
    height: 75vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    background-size: cover;
}

.page-section {
    background: linear-gradient(#a1d3de, white);
}

.intro {
    padding: 10px 0;
}

.intro-img {
    height: 75vh;
    position:relative;
}

@media (max-width: 768px) {
    .intro-img {
        height: 72vh;
    }
    .intro-text {
        background:rgba(0, 145, 251, 0.08);
    }
}

.intro .intro-text .intro-button {
    width: 100%;
    left: 0;
    position: absolute;
    bottom: -1rem;
}

.btn-primary {
    background-color: darkcyan;
    padding:1rem;
    border-radius: 0;
}

.fixed-top {
    position: relative;
    background-color:#314778;
}
.nav-link {
    color: white;
}

.dropdown-menu {
    margin-top: 5px;
    background-color: #314778;
}

.nav-link.dropdown-toggle {
    color: white;
}
.nav-link.dropdown-toggle:hover {
    color: #314778;
    background: whitesmoke;
}

.portfolio-item {
    margin: 1rem 0;
}

.portfolio-price, .card-text {
    position: absolute;
    z-index: 1;
    color: white;
    padding: .5rem 1.5rem;
}

.portfolio-price {
    background-color: rgba(43, 181, 167, 0.95);
    margin:-.2rem 0 0 -.2rem;
}

.portfolio-item .card-body {
    width: 103%;
    margin: -5px;
    padding: 1px 10px;
    background-color: rgba(42, 176, 167, 0.95);
    color: white;
}
.portfolio-item .card-body p {
        display: inline-block;
    }
.card-title {
    font-size: 1.6srem;
}

.card-durations {
    float: right;
}
.group-title {
    text-align: center;
}
.group-border {
    max-width: 50px;
    margin: -1rem auto 1rem auto;
    border-right: 100px;
    border-left: 100px;
    border-top-color: initial;
    border-right-color: rgba(49, 71, 120, -0.3);
    border-bottom-color: rgba(49, 71, 120, 0.47);
    border-left-color: rgba(49, 71, 120, -0.3);
    border-top: 4px;
    border-style: groove;
}
@media (min-width: 1200px) {
    #carouselExampleIndicators {
        margin-right: 10px;
        box-shadow: 1px 1px 1px 1px black
    }
}
#carouselExampleIndicators {
    margin-top: -5px;
}
    .collapse-button {
    margin: auto 0 auto auto;
}
.input-group-text {
    min-width: 135px;
    border-radius: 0;
}
input[type=submit], input[type=submit] {
    border-radius:0;
}
input[type=submit] {
    padding: 5px 50px;
}
.main {
    margin: 15px;
    padding:15px;
}

