@using TrekNepal.Models;
@{ 
    var temp = Session.Count > 0 ? Session[0] as Dictionary<int, TrekRoute>: new Dictionary<int, TrekRoute>();
}
@if (temp.Any())
{
    foreach (var route in temp)
    {
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    @route.Value.From - @route.Value.To
                    <div class="card-header-actions">
                        <a class="card-header-action btn-setting btn-modify" data-href="@Url.Action("SaveRoute", new { @index = (int)route.Key, @packageId=route.Value.TrekPackageId })" href="#">
                            <i class="fa fa-pencil"></i>
                        </a>
                    </div>
                </div>
                <div class="card-body collapse show" id="collapseExample">
                    <p>@route.Value.Elevation</p>
                </div>
            </div>
        </div>
    }
}
<script>
    $(".btn-setting").on("click", function () {
        var url = $(this).data("href");
        $(".modal-body").load(url);
        $("#modalBtn").trigger("click");
    });
</script>
